.location-wrapper {
  text-align: center;
  
  .city-heading {
    font-size: 25px;
    font-weight: 500;
    
  }
  .current-weather {
    text-transform: capitalize;
  }
  .current-temp {
    font-size: 38px;
    font-weight: 600;

    .degrees {
      vertical-align: text-top;
      font-size: 16px;
      font-weight: 500;
    }
  }
};

.timeline {
  width: 100%;
  
  .times {
    text-align: right;
  }
};
